<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dareus_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dareus_logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.DareUs"
        tools:targetApi="31">

        <!-- Main launcher activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.DareUs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All other activities -->
        <activity
            android:name=".ProfileSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".PartnerLinkingActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".DareSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".DareInboxActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".LeaderboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".BadgesActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".PartnerBadgesActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".PartnerDaresActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".PremiumUpgradeActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".InstructionsActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <!-- 🔔 NOTIFICATION SERVICE -->
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".DareUsFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- 📡 NOTIFICATION RECEIVER -->
        <receiver
            android:name=".NotificationScheduler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="DARE_REMINDER" />
                <action android:name="COMPLETION_REMINDER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CustomDareActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".CustomDareNegotiationActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <activity
            android:name=".CustomDareHubActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

        <!-- MainActivity - ONLY DECLARED ONCE -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.DareUs" />

    </application>

</manifest>